diffusers==0.14.0
einops==0.3.0
imageio==2.9.0
lmdb==1.4.0
natsort==8.3.1
omegaconf==2.1.1
opencv-python==4.7.0.72
pandas==1.5.3
Pillow==9.4.0
pygame==2.3.0
pytorch-lightning==1.5.0
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.1
tensorboard==2.12.0
torch==2.0.0
tqdm==4.65.0
xformers==0.0.18